@charset "utf-8";

html {
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.clearfix:after {
	content: ""; 
	display: block; 
	clear: both;
}

/* hide [input] clear button in IE*/
::-ms-clear {
	display: none;
}

h1 {
	font-size: 2em;
}

a {
	color: navy;
}

#wrapper {
	text-align: center;
	padding-top: 1.2em;
}

.search_box {
	width: 40%;
	position: relative;
	left: 30%;
	margin: 1em 0;
}

.input_query {
	display: block;
	width: 70%;
	height: 1.6em;
	padding: 2% 15%;
	font-size: 1.6em;
}

.icon-clear {
	position: absolute;
	right: 4%;
	top: 22%;
	font-size: 2.2em;
	color: darkred;
}
.icon-clear:hover {
	cursor: pointer;
	color: crimson;
}
.icon-clear:active {
	top: 25%;
}

.icon-search {
	position: absolute;
	left: 4%;
	top: 22%;
	font-size: 2.2em;
	color: #bbbbbb;
}

.result {
	width: 40em;
	margin: 0 auto;
}

.results {
	list-style-type: none;
}

.results li {
	font-size: 1.2em;
	width: 100%;
	border-bottom: 1px dashed #aaaaaa;
	padding: 0.2em;
}

.char_face {
	display: block;
	float: left;
	font-size: 3.6em;
	padding: 0.3em 10%;
	width: 20%;
}

.unicode_info {
	float: left;
	padding: 2% 5%;
	text-align: left;
	width: 20%;
}

.unicode_name {
	padding: 0.8em 0;
}

.iso8859 {
	font-size: 0.5em;
	padding: 2% 5%;
	float: left;
	text-align: left;
	width: 20%;
}

.iso8859 li {
	border: none;
	padding: 0;
}

footer {
	font-size: 0.7em;
	position: fixed;
	bottom: 0;
	padding: 0.1em;
	background-color: white;
	width: 100%;
	border-top: 1px solid #d8d8d8;
}