<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="reset.css" media="all">
	<link rel="stylesheet" href="style.css" media="all">
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="http://underscorejs.org/underscore-min.js"></script>
	<script src="http://backbonejs.org/backbone-min.js"></script>
	<script src="extension.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<div id="wrapper">
		<input class="input_query" type="textbox" placeholder="e.g. 0x123, U+12354, あいうえお">
		<div class= "result clearfix">
			<ul class="results"></ul>
		</div>
	</div>

	<script type=text/template id="tmpl_result">
		<%= codePoint %><br>
		<%= cpDec %><br>
		<%= hex %><br>
		<%= dec %><br>
		<%= character %>
	</script>

</body>
</html>