<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Unicode Character Finder</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="css/reset.css" media="all">
	<link rel="stylesheet" href="css/style.css" media="all">
	<link rel="stylesheet" href="font/typicons.css" media="all">
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Londrina+Outline' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
	<script src="js/jquery.highlight.js"></script>
	<script src="js/shortcut.js"></script>
	<script src="js/localStorageWrapper.js"></script>
	<script src="js/extension.js"></script>
	<script src="js/unicode2ISO8859N.js"></script>
	<script src="js/unicodeNameList.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<div id="wrapper">
		<h1>Unicode Character Finder</h1>
		<div class="search_box">
			<span class="typcn typcn-zoom icon-search"></span>
			<span class="typcn typcn-times icon-clear"></span>
			<input class="input_query" type="textbox" placeholder="e.g. E3 81 82, U+3042, あいう">
		</div>
		<div class="result clearfix">
			<ul class="results">
				<li class="sample clearfix">
					<h2 class="char_face">e.g.</h2>
					<div class="unicode_info">
						<p>Unicode CodePoint:<br>&nbsp;Codepoint(Decimal Num)</p>
						<p>UTF-8 Octet:<br>&nbsp;Hex Num(Decimal Num)</p>
						<p>UTF-16 Octet:<br>&nbsp;Hex Num(Decimal Num)</p>
						<p class="unicode_name">Unicode Name</p>
					</div>
					<ul class="iso8859">
						<li>shows 1byte-code here, if the character is found in ISO-8859-N tables.</li>
					</ul>
				</li>
			</ul>
		</div>
		<footer>
			<p>
				powered by 
				<a href="http://jquery.com/" target="_blank">jQuery</a>, 
				<a href="http://bartaz.github.io/sandbox.js/jquery.highlight.html" target="_blank">jQuery.highlight</a>, 
				<a href="http://backbonejs.org/" target="_blank">Backbone.js</a>, 
				<a href="http://underscorejs.org/" target="_blank">Underscore.js</a>, 
				<a href="http://www.openjs.com/scripts/events/keyboard_shortcuts/" target="_blank">shortcut.js</a>,
				<a href="http://typicons.com/" target="_blank">Typicons</a>
				&nbsp;
				&copy; 2013 poppycocker
				&nbsp;
				<a href="https://github.com/poppycocker/UTF8Finder" target="_blank">&gt;&gt; view on GitHub</a>
			</p>
		</footer>
	</div>

	<script type=text/template id="tmpl_result">
		<h2 class="char_face"><%= character %></h2>
		<div class="unicode_info">
			<p>U+<%= codePoint %>(<%= codePointDec %>)</p>
			<p>UTF-8: <%= octet8 %>(<%= octet8Dec %>)</p>
			<p>UTF-16: <%= octet16 %>(<%= octet16Dec %>)</p>
			<p class="unicode_name"><%= name %></p>
		</div>
		<ul class="iso8859">
			<% _.each(iso8859, function(elem) { %>
				<li>ISO-8859-<%= elem.n %>: <em>0x<%= elem.code %></em></li>
			<% }); %>
		</ul>
	</script>

</body>
</html>