@charset "utf-8";

.clearfix:after {
	content: ""; 
	display: block; 
	clear: both;
}

.input_query {
	display: block;
	margin: 2em auto;
	width: 40%;
	height: 1.6em;
	padding: 0.2em;
	font-size: 2em;
}

.result {
	width: 80%;
	margin: 0 auto;
}

.results {
	list-style-type: none;
	text-align: center;
}

.results li {
	width: 6em;
	height: 6em;
	border: 1px solid #000000;
	background-color: #AAAAAA;
	color: #FFFFFF;
	margin: 0.2em;
	padding: 0.2em;
	float: left;
}
